{% extends "base.html" %}

{% block content %}
<h1>Singles popularity over time</h1>
<div>
  <a class="logout-link" href="{{ url_for('main.logout') }}">Logout</a>
  <a class="back-link" href="{{ url_for('main.home') }}">Back</a>
</div>

<div class="flex-container">
  <div class="flex-item">
    <img src='data:image/png;base64,{{data_plot}}' alt="singles_popularity_over_time"/>
  </div>
  <div class="flex-item">
    <table>
      <tr>
        <th>Single</th>
        <th>Release</th>
        <th>Popularity</th>
      </tr>
      {% for item in singles_data %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.release }}</td>
        <td>{{ item.popularity }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}

