{% extends "base.html" %}

{% block content %}
<h1>Welcome {{ user.username }}!</h1>
<div class="profile-container">
  <div
    class="profile-picture"
    alt="user-profile-picture"
    style="background-image: url('{{ spotify_profile.image_src }}');"
  ></div>
  <div>
    <p>Current weather: {{ current_weather }}</p>
    <p>spotify id:{{ spotify_profile.id }}</p>
    <p>followers: {{ spotify_profile.followers }}</p>
  </div>
  {% if spotify_profile.image_src | length > 0 %}
</div>
<iframe
  class="spotify-embed"
  src="https://open.spotify.com/embed/track/{{ weather_track_id }}?utm_source=generator"
  frameborder="0"
  allowfullscreen=""
  allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
  loading="lazy"
></iframe>
{% endif %}
</div>
<a href="{{ url_for('main.playlists') }}">Recent Playlists</a>
<a href="{{ url_for('main.logout') }}">Logout</a>

<div>
  <form action="{{ url_for('main.search') }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="query" name="query" placeholder="Search tracks" required />
    <button type="submit">Search</button>
  </form>
</div>

<div class="top-items-container">
  <div class="top-artists">
    <ul class="top-list">
      <h2>Your top artists</h2>
      {% for artist in top_artists %}
      <li>
        <div class="top-item">
          <div class="top-item-content">
            <img
              src="{{ artist.image_src }}"
              alt="artist-profile-picture"
              class="top-item-image"
            />
            <div class="top-item-info">
              <div>{{ artist.name }}</div>
              <div>Genres: {{artist.genres}}</div>
              <div>Followers: {{ artist.followers }}</div>
              <a href="{{ url_for('main.get_artist', artist_id=artist.id) }}">Artist stats</a>
              <a href="{{artist.href}}" target="_blank">Open in spotify</a>
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="top-tracks">
    <ul class="top-list">
      <h2>Your top tracks</h2>
      {% for track in top_tracks %}
      <li>
        <div class="top-item">
          <div class="top-item-content">
            <img
              src="{{track.image_src}}"
              alt="album-artwork"
              class="top-item-image"
            />
            <div class="top-item-info">
              <div>{{ track.name }}</div>
              <div>
                By: {% for artist in track.artists %}
                <a href="{{artist.external_urls.spotify}}" target="_blank">{{ artist.name }}</a>
                {% endfor %}
              </div>
              <div>Popularity: {{ track.popularity }}</div>
              <a href="{{track.href}}" target="_blank">Open in spotify</a>
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
