{% extends "base.html" %} {% block content %}
<h1>Playlist backups</h1>

<a href="{{ url_for('main.logout') }}">Logout</a>
<a href="{{ url_for('main.playlists') }}">Back</a>
<div style="width: 100%">
  <ul style="list-style-type: none">
    {% for playlist in playlists %}
    <li>
      <div
        style="
          display: flex;
          border: 1px solid black;
          border-radius: 12px;
          margin-bottom: 10px;
        "
      >
        <div style="display: flex">
          <div style="padding: 10px">
            <div>title: {{ playlist.title }}</div>
            <div>spotify id: {{ playlist.id }}</div>
            <a
              style="color: green"
              href="{{ url_for('main.restore_playlist', playlist_id=playlist.id ) }}"
              >Restore Playlist</a
            >
            <div>
              <p>Tracks:</p>
              <ul>
                {% for track in playlist.tracks %}
                <li>
                  <b>{{track.title}}</b>{% for artist in track.features %} -
                  {{artist.name}} {% endfor %}
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
