{% extends "base.html" %}

{% block content %}
<h1>Playlist backups</h1>

<a class="logout-link" href="{{ url_for('main.logout') }}">Logout</a>
<a class="back-link" href="{{ url_for('main.playlists') }}">Back</a>
<div class="playlist-container">
  <ul class="playlist-list">
    {% for playlist in playlists %}
    <li>
      <div class="playlist-item">
        <div class="playlist-item-content">
          <div class="playlist-info">
            <div>title: {{ playlist.title }}</div>
            <div>spotify id: {{ playlist.id }}</div>
            <a class="restore-link" href="{{ url_for('main.restore_playlist', playlist_id=playlist.id ) }}">Restore Playlist</a>
            <div>
              <p>Tracks:</p>
              <ul>
                {% for track in playlist.tracks %}
                <li>
                  <b>{{track.title}}</b>{% for artist in track.features %} - {{artist.name}} {% endfor %}
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
