{% extends "base.html" %} {% block content %}
<h1>Your recent playlists</h1>

<a href="{{ url_for('main.logout') }}">Logout</a>
<a href="{{ url_for('main.home') }}">Back</a>
<a href="{{ url_for('main.get_playlist_backups') }}">Playlist backups</a>

<div style="width: 100%">
  <ul style="list-style-type: none">
    {% for playlist in playlists %}
    <li>
      <div
        style="
          display: flex;
          border: 1px solid black;
          height: 152px;
          border-radius: 12px;
          margin-bottom: 10px;
        "
      >
        <div style="display: flex">
          <img
            src="{{playlist.image_src}}"
            alt="album-artwork"
            width="152px"
            height="152px"
            style="border-radius: 10px"
          />
          <div style="padding: 10px">
            <div>{{ playlist.name }}</div>
            <a href="{{playlist.href}}" target="_blank">Open in spotify</a>
            <a href="{{ url_for('main.playlist', playlist_id=playlist.id) }}"
              >View playlist</a
            >
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
