{% extends "base.html" %}

{% block content %}
<h1>{{ playlist_name }}</h1>
<h2>Owner: {{ playlist_owner }}</h2>

<a class="unfollow-link" href="{{ url_for('main.unfollow_playlist', playlist_id=playlist_id) }}">Unfollow Playlist</a>
<a class="save-link" href="{{ url_for('main.save_playlist', playlist_id=playlist_id) }}">Save Playlist to database</a>

<div class="flex-container">
  <div class="flex-item-full">
    <ul>
      {% for track in tracks %}
      <li>
        <div class="track-item">
          <div class="track-info">
            {{ loop.index }} - <b>{{ track.name }}</b> -
            {% for artist in track.artists %}
            {{ artist.name }}
            {% endfor %}
            {% if playlist_owner == spotify_user_id %}
          </div>
          <div class="track-actions">
            <form action="{{ url_for('main.remove_from_playlist', track_id=track.id) }}" method="post">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <input type="hidden" name="playlist_id" value="{{ playlist_id }}" />
              <input type="hidden" name="playlist_position" value="{{ loop.index }}" />
              <input type="hidden" name="track_uri" value="{{ track.uri }}" />
              <button type="submit">Remove track from playlist</button>
            </form>
          </div>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
