{% extends "base.html" %}

{% block content %}
<h1>Your recent playlists</h1>
<div class="container-new-playlist">
  <form action="{{ url_for('main.new_playlist') }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <label for="name">Create a new playlist</label>
    <input type="text" name="name" placeholder="Playlist name" required maxlength="90" />
    <button type="submit">Create</button>
  </form>
</div>

<div class="playlist-container">
  <ul class="playlist-list">
    {% for playlist in playlists %}
    <li>
      <div class="playlist-item">
        <div class="playlist-item-content">
          <img src="{{playlist.image_src}}" alt="album-artwork" class="playlist-image" />
          <div class="playlist-info">
            <div>{{ playlist.name }}</div>
            <a href="{{playlist.href}}" target="_blank">Open in Spotify</a>
            <a href="{{ url_for('main.playlist', playlist_id=playlist.id) }}">View playlist</a>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
