{% extends "base.html" %}

{% block content %}
<h1>Register</h1>
<div class="form-container">
  <form action="{{ url_for('main.register') }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <label for="username">Enter username:</label>
    <input type="text" name="username" id="form-username" required />
    <label for="password">Enter password:</label>
    <input type="password" name="password" id="form-password" required />
    <button type="submit">Register</button>
  </form>
</div>
{% endblock %}
